@import url('./Assets/css/reset.css');


.container
{
    margin: 20px auto;
    max-width: 600px;
    height: 951px;
}

.header
{
    min-width: 320px;
    max-width: 600px;

    margin-bottom: 0;

    height: 176px;

    /* background-color: #bd6060; */
}

.content
{
    max-width: 600px;
    padding: 25px;
    background-color: #fff;
}

.colaborador
{
    font-size: 1rem;
    line-height: 22.4px;
}

#nameColaborador
{
    font-style: italic;
    text-transform: uppercase;
}

#messenger
{
    font-size:14px;
    line-height:170%
}

.compDados
{
    max-width: 600px;
    padding: 0.5px 15px 5px;

    height: 270px;

    background-color: #f5f5f5;
}

p.codeSecure
{
    font-size: 12px; 
    text-align: center; 
    color: #666666;
}

.inforDados
{
    display: flex;
    align-items: center;
    width: 100%;

    /* background-color: #8ef18b; */
}

.inforDados img
{
    width: 14px;
    height: 17px;
    margin: 4px 15px 0 0;
}

.informationDados
{
    font-size: 13px;
    line-height: 27.2px;
    color:#212945;
    word-wrap: break-word;
}

#gratitude
{
    font-size:13px;
}

footer
{
    min-width: 320px;
    max-width: 550px;
    height: 161px;
    margin-top: 32px;
}

/*responsive*/
@media (min-width: 426px) and (max-width: 600px)  
{
    .container
    {
        margin: 0px auto;
        height: 100vh;
    }

    .content
    {
        margin: 0px;
        padding-top: 40px;
    }

    .header
    {
        min-width: 320px;
        max-width: 600px;
        
        max-height: 125px;
    }

    p.codeSecure
    {
        font-size: 11px; 
    }
}

@media (min-width: 320px) and (max-width: 425px)  
{
    .container
    {
        margin: 0px auto;
        height: 100vh;
    }

    .content
    {
        margin: 0px;
        padding-top: 40px;
    }

    .header
    {
        min-width: 320px;
        max-width: 600px;
        
        max-height: 93px !important;
    }

    p.codeSecure
    {
        font-size: 11px; 
        margin-top: 150px;
        word-wrap: break-word;
        text-align: left;
    }

    footer
    {
        min-width: 100% !important;
        height: 90px !important;
    }
}


